out
gradle
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries
.idea/saveactions_settings.xml
.idea/gradle.xml
.idea/uiDesigner.xml
.idea/.name
.idea/kotlinc.xml
.idea/misc.xml
.idea/dictionaries/
*.iml
*.sqlite3
.classpath
.project
.settings/
bin/
gradlew
gradlew.bat


### https://raw.github.com/github/gitignore/7af8eea00b37b330af2b9de94170f1d6aeafb1f0/Gradle.gitignore

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties


